.LockScreenContainer {
  width: 100%;
  height: 100%;
  background-image: url(../../assets/LockScreen/lock.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.cont {
  width: 400px;
  height: auto;
  overflow-y: hidden;
}

.clockContainer {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  gap: 4%;
}

.clockDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.clockDiv span{
  font-family: "Montserrat", sans-serif;
  margin-top: 10px;
text-indent: 14px;
}

.clockDiv a {
  text-decoration: none;
  color: ghostwhite;
}

.notificationCont{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.passwordScreen {
  width: 100%;
  height: 800px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background: #0000003f;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(11px);
}

.passwordScreen p {
  margin-top: 80px;
  font-family: "Poppins", sans-serif;
}

.lockScreenPassKeysContainer {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.passwordKeysClicked {
  width: 100%;
  height: 10%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}

.shake{
  width: 100%;
  height: 10%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  transition: 0.5s ease;
  animation: shake 0.2s 2;
}

@keyframes shake {
  0%{
transform: translateX(0%);
  }
  25%{
    transform: translateX(-2%);
  }
  50%{
    transform: translateX(2%);
  }
  100%{
    transform: translateX(0%);
  }
}

.key {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
}

.key1,
.key2,
.key3,
.key4 {
  background-color: transparent;
}

.passwordKeypad {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
}

.passwordKeypadKeys {
  width: 70px;
  height: 70px;
  margin-right: 20px;
  border-radius: 50%;

  font-family: "Poppins", sans-serif;
  font-weight: 300;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  font-size: 10px;
}

.keypadNum {
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.passwordKeypadKeys:hover:not(.avoidKey) {
  background-color: rgba(255, 255, 255, 0.212);
  transition: 0.5s;
}

.cameraAppDiv {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  align-self: flex-end;
  margin: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  transform-origin: bottom right;

  position: absolute;
  bottom: 0;
  right: 0;
}

.FullcameraAppDiv {
  background-color: rgb(0, 0, 0);
  border-radius: 0;
  margin: 0;
  width: 400px;
  height: 100%;
}

/* .cameraAppDiv:hover {
  background-color: rgba(255, 255, 255, 0.075);
} */

.lockScreenCameraIcon {
  scale: 1.5;
}

.lockScreenNavigationKeys {
  width: 100%;
  height: 5%;
  background-color: rgba(255, 255, 255, 0.062);
  position: absolute;
  bottom: 0;

display: flex;
justify-content: end;
align-items: center;
gap: 15%;
}

.navigationCloseBtn{
 scale: 1;
}

.navigationBackBtn{
  width: 40px;
  height: 20px;
  scale: 1;
  margin-right: 20%;
}
.navigationBackBtn:hover{
 background-color: rgba(255, 255, 255, 0.041);
 border-radius: 5px;
}

