.navbar {
  width: 100%;
  height: 2.5%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  transform: translateY(-10px);
  animation: scaleani 1s ease 1 forwards;
  font-family: "Montserrat", sans-serif;
  background-color: transparent;
  color: white;
  position: absolute;
  top: 0;
  z-index: 2;
}

@keyframes scaleani {
  to {
    transform: translateY(0%);
  }
}

.navTopDiv {
  width: 100%;
  height: 24px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: transparent;
}

.navTopDivLeft {
  width: 50%;
  height: 24px;
  border-top-left-radius: 30px;

  text-indent: 10px;
  font-family: "Open Sans", sans-serif;
  text-align: left;
}
.navTopDivRight {
  width: 50%;
  height: 24px;
  border-top-right-radius: 30px;
  display: flex;
  justify-content: end;
  gap: 8px;
  align-items: center;
}

.battery {
  scale: 1.2;
}
.batteryIndication {
  margin-right: 20px;
}
